.DS_Store
redistrct/__pycache__
.ipynb_checkpoints
*.pyc
*.egg-info
*.egg
*.cpg
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.xml
*.shx
*.txt
*.json
*.key
Comments.sqlite
results/es_A_I.html
results/es_A_II.html
results/es_B.html
README_orginal.md
redistrict_I.py
redistrict_original.py
redistricting_nb_orginal.ipynb
